@import '../../assets/style/variables.scss';

.registerDetail{
    width: 50%;
    border-radius: 10px;
    border: 1px solid #ced4da;
}
.successButton{
    background-color: $success-button-bgcolor !important;
    border-color: $success-button-color !important;
    color: black;
}

.registerContainer {
    margin: auto;
    height: 100%;
    padding: 10px;
    position: relative;

    .registerFooter{
        position: absolute;
        bottom: 5px;
        right: 2%;
    }
  }