
<div class="navbar-container">

  <ul class="navigation-bar">
    <div class="Login">
      <li class="insta-images">
        <img src="../assets/Images/download.jpg" alt="" srcset="">
      </li>
      <li ><a routerLink="/home">Home</a></li>
      <li routerLink="/editor"><a routerLink="/editor">Editor</a></li>
    </div>
    <div *ngIf="false" class="register">
      <li><a routerLink="/login">Register</a></li>
    </div>
    <div *ngIf="true">
      <div class="d-flex align-items-center flex-end">
        <div class="me-2">!Hi User name</div>
        <div class="loginStatus">
          <div class="loginicon d-flex align-items-center justify-content-center">
            <i class="pi pi-user" style="font-size: 2.5rem"></i>
            <div class="loginSuccessLight"></div>
          </div>
        </div>
      </div>
    </div>
  </ul>
 
    
</div>

<div class="containerBody">
  <div class="sub-container">
    <div class="left-container">
      <ul class="menu-bar p-2">
        <li><i class="fa-solid fa-magnifying-glass"></i><a href="">one</a> </li>
        <li><i class="fa-solid fa-magnifying-glass"></i> <a href="">Two</a></li>
        <li><i class="fa-solid fa-magnifying-glass"></i><a href="">Three</a></li>
        <li><i class="fa-solid fa-magnifying-glass"></i><a href="">Fourth</a></li>
      </ul>
    </div>

    <div class="right-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



 
  <a class="nav-link" routerLink="/login">Registor</a>



<!-- </nav> -->


<!-- <app-home></app-home> -->


    

    