<div class="navbar-container">

    <ul class="navigation-bar fixed-top">
        <div class="Login align-items-center">
            <li class="insta-images">
                <img src="../assets/Images/TCI Logo JPEG.jpg" alt="" srcset="">
            </li>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/addPost">Add Post</a></li>
            <li routerLink="/editor"><a routerLink="/editor">Editor</a></li>
        </div>
        <div class="col-6 row align-items-center">
            <div class="mx-auto">
                <div class="input-group">
                    <input class="form-control border-end-0 border rounded-pill" type="search" placeholder="search" id="example-search-input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-bottom-0 border rounded-pill ms-n5" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="false" class="register">
            <li><a routerLink="/login">Register</a></li>
        </div>
        <div *ngIf="true" class="pt-3">
            <div class="d-flex align-items-center flex-end">
                <div *ngIf="userName" class="me-2">!Hi {{userName}}</div>
                <a (click)="profile()">
                    <div class="loginStatus">
                        <div class="loginicon d-flex align-items-center justify-content-center">
                            <i class="pi pi-user" style="font-size: 2rem"></i>
                            <div *ngIf="userName" class="loginSuccessLight"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ul>


</div>

<div class="containerBody">
    <div class="sub-container pt-2">
        <div class="left-container" *ngIf="ishide">
            <ul class="menu-bar p-2">
                <li><i class="fa-solid fa-magnifying-glass"></i><a href="">commin soon</a> </li>
                <li><i class="fa-solid fa-magnifying-glass"></i> <a href="">commin soon</a></li>
            </ul>
        </div>

        <div class="right-container">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>
