// .card {
//     width: 500px;
//     height: 480px;
//     background-color: greenyellow;
//     color: rgb(53, 45, 53);
//     top: 50%;
//     left: 50%;
//     position: absolute;
//     transform: translate(-50%, -50%);
//     box-sizing: border-box;
//     padding: 13px, 30px;
//     border: 1px solid black;
//     border-radius: 20px;
//     margin-top: 360px;
// }
// .card a {
//     margin-left: 130px;
// }
// .card button {
//     margin-left: 10px;
// }
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Poppins', sans-serif;
// }

// body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     background-color: #fd5c63;
// }

// .box {
//     position: relative;
//     width: 500px;
//     height: 580px;
//     background-color: #1c1c1c;
//     border-radius: 8px;
//     overflow: hidden;
// }

// .box::before {
//     content: '';
//     position: absolute;
//     top: -50%;
//     left: -50%;
//     width: 380px;
//     height: 420px;
//     background: linear-gradient(0deg, transparent, greenyellow, greenyellow);
//     transform-origin: bottom right;
//     animation: animate 6s linear infinite;
// }

// .box::after {
//     content: '';
//     position: absolute;
//     top: -50%;
//     left: -50%;
//     width: 380px;
//     height: 420px;
//     background: linear-gradient(0deg, transparent, greenyellow, greenyellow);
//     transform-origin: bottom right;
//     animation: animate 6s linear infinite;
//     animation-delay: -3s;
// }

// @keyframes animate {
//     0% {
//         transform: left(0deg);
//     }
//     100% {
//         transform: left(360deg);
//     }
// }


// /* Form */

// .form {
//     position: absolute;
//     inset: 2px;
//     border-radius: 8px;
//     background: #452c63;
//     z-index: 10;
//     padding: 50px 40px;
//     display: flex;
//     flex-direction: column;
// }

// .form h2 {
//     color: greenyellow;
//     font-weight: 500;
//     text-align: center;
//     letter-spacing: 0.1em;
// }

// .inputBox {
//     position: relative;
//     width: 100%;
//     margin-top: 35px;
// }

// .inputBox input {
//     position: relative;
//     width: 100%;
//     padding: 20px 10px 10px;
//     background: transparent;
//     border: none;
//     outline: none;
//     color: #23242a;
//     font-size: 1em;
//     letter-spacing: 0.05em;
//     z-index: 10;
// }

// .inputBox span {
//     position: absolute;
//     left: 0;
//     padding: 20px 0px 10px;
//     font-size: 1em;
//     color: #8f8f8f;
//     pointer-events: none;
//     letter-spacing: 0.05em;
//     transition: 0.5s;
// }

// .inputBox input:valid~span,
// .inputBox input:focus~span {
//     color: greenyellow;
//     transform: translateX(0px) translateY(-34px);
//     font-size: 0.75em;
// }

// .inputBox i {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 2px;
//     background: greenyellow;
//     border-radius: 4px;
//     transition: 0.5s;
//     pointer-events: none;
//     z-index: 0;
// }

// .inputBox input:valid~i,
// .inputBox input:focus~i {
//     height: 44px;
// }

// .links {
//     display: flex;
//     justify-content: space-between;
// }

// .links a {
//     margin: 10px 0;
//     font-size: 0.75em;
//     color: #8f8f8f;
//     text-decoration: none;
// }

// .links a:hover,
// .links a:nth-child(2) {
//     color: greenyellow;
// }

// input[type="submit"] {
//     border: none;
//     outline: none;
//     background: greenyellow;
//     padding: 11px 25px;
//     width: 100px;
//     margin-top: 10px;
//     border-radius: 4px;
//     font-weight: 600;
//     cursor: pointer;
// }

// input[type="submit"]:active {
//     opacity: 0.8;
// }



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #00E5FF;
    min-height: 100vh;
}

.wrapper{
    max-width: 850px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    margin: 50px auto;
    box-shadow: 0 8px 20px 0px #1f1f1f1a;
    overflow: hidden;
}

.wrapper .form-left{
    background: #3786bd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 40px;
    position: relative;
    width: 100%;
    color: #fff;
}

.wrapper h2{
    font-weight: 700;
    font-size: 25px;
    padding: 5px 0 0;
    margin-bottom: 34px;
    pointer-events: none;
}

.wrapper .form-left p{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    pointer-events: none;
}

.wrapper .form-left .text{
    margin: 20px 0 25px;
}

.wrapper .form-left p span{
    font-weight: 700;
}

.wrapper .form-left input{
    padding: 15px;
    background: #fff;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 180px;
    border: none;
    margin: 15px 0 50px 0px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
    font-size: 0.9rem;
    appearance: unset;
    outline: none;
}

.wrapper .form-left input:hover{
    background-color: #f2f2f2;
}

.wrapper .form-right{
    padding: 20px 40px;
    position: relative;
    width: 100%;
}

.wrapper .form-right h2{
    color: #3786bd;
}

.wrapper .form-right label{
    font-weight: 600;
    font-size: 15px;
    color: #666;
    display: block;
    margin-bottom: 8px;
}

.wrapper .form-right .input-field{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    color: #333;
}

.wrapper .form-right .input-field:focus{
    border: 1px solid #31a031;
}


.wrapper .option {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    font-size: 0.95rem;
    font-weight: 900;
    cursor: pointer;
    user-select: none
}

.wrapper .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.wrapper .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 2px
}

.wrapper .option:hover input~.checkmark {
    background-color: #f1f1f1
}

.wrapper .option input:checked~.checkmark {
    border: 2px solid #e5e5e5;
    background-color: #fff;
    transition: 300ms ease-in-out all
}

.wrapper .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    color: #3786bd;
    font-size: 1rem;
}

.wrapper .option input:checked~.checkmark:after {
    display: block
}

.wrapper .option .checkmark:after {
    left: 2px;
    top: -4px;
    width: 5px;
    height: 10px
}

.wrapper .register{
    padding: 12px;
    background: #3786bd;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 130px;
    border: none;
    margin: 6px 0 50px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.wrapper .register:hover{
    background-color: #3785bde0;
}

.wrapper a{
    text-decoration: none;
}

@media (max-width: 860.5px) {
    .wrapper{
        margin: 50px 5px;
    }
}


@media (max-width: 767.5px){
    .wrapper{
        flex-direction: column;
        margin: 30px 20px;
    }

    .wrapper .form-left{
        border-bottom-left-radius: 0px;
    }

    
}

@media (max-width: 575px) {

    .wrapper{
        margin: 30px 15px;
    }

    .wrapper .form-left{
        padding: 25px;
    }
    .wrapper .form-right{
        padding: 25px;
    }
}